---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables
$footer-height: 90px;
$grey-color: #828282;

$light-text-color: #aaa;

// Imports
@import "base";